<form action='/login/edit' method='post'>
  <input
    type='email'
    name='email'
    placeholder='New Email'
    value='testNew@test.com'
  />
  <input type='hidden' name='csrf' value='{{token}}' />
  <input type='submit' />
</form>