<h1>
  home page, must be logged in to access! (userId:
  {{userId}})
</h1>
<form action='/login/logout' method='get'>
  <input type='submit' value='Log out' />
</form>
<form action='/login/edit' method='get'>
  <input type='submit' value='Change email' />
</form>