<form action='/login' method='post'>
  <input type='email' name='email' placeholder='Email' value='test@test.com' />
  <input type='password' name='password' placeholder='Password' value='1234' />
  <input type='submit' />
</form>